blinker==1.9.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.2
Flask==3.1.0
flask-cors==5.0.1
flwr==1.17.0
grpcio==1.71.0
idna==3.10
iterators==0.0.2
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
numpy==2.2.4
pandas==2.2.3
pathspec==0.12.1
protobuf==4.25.6
pycparser==2.22
pycryptodome==3.22.0
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
scikit-learn==1.6.1
scipy==1.15.2
shellingham==1.5.4
six==1.17.0
threadpoolctl==3.6.0
tomli==2.2.1
tomli_w==1.2.0
typer==0.12.5
typing_extensions==4.13.1
tzdata==2025.2
urllib3==2.3.0
Werkzeug==3.1.3
